{% extends "home.html" %}
{% block content %}

  <head>
    <title>Select Film</title>
  </head>
  <body>
    <h1 style="width: 100%;">Select Film</h1>
    <ul>
      {% for match in matches %}
      <li>{{ match[0] }}</li>
      {% endfor %}
    </ul>
    <form method="post" action="/select_film">
      <label for="film">Select a film:</label>
      <select id="film" name="film">
        {% for match in matches %}
        <option value="{{ match }}">{{ match[0] }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Select" class="botton">
    </form>

{% endblock content %}